<header class="header">
    <div class="menubar">
        <a href="/bunch/groups"
        <button class="btn btn--m btn--icon btn--white" lx-ripple="white" ng-click="">
            <i class="mdi mdi-home"></i>
        </button>
        </a>
    </div>

    <h1 class="main-logo" style="color: white; font-size: 24px; margin-left:9px;">
<!--         <a href="/" class="main-logo__link" lx-ripple="white">
            <img src="/images/logo/lumx-white.png">
        </a> -->
        Bunch Bank
    </h1>

    <nav class="main-nav main-nav--lap-and-up">
<!--         <ul>
            <li><a href="/getting-started/installation" class="main-nav__link" lx-ripple="white">Getting started</a></li>
            <li><a href="/css/mixins" class="main-nav__link" lx-ripple="white">CSS</a></li>
            <li><a href="/directives/dropdowns" class="main-nav__link" lx-ripple="white">Directives</a></li>
            <li><a href="/services/notifications" class="main-nav__link" lx-ripple="white">Services</a></li>
            <li>|</li>
            <li ng-repeat="(path, route) in bunchRoutes">
                <a ng-href="{{ path }}" class="main-nav__link" lx-ripple="white">{{ route.title }}</a>
            </li>
        </ul> -->
    </nav>

    <nav class="main-nav">
        <lx-dropdown position="right" from-top ng-if="isOnGroupDetails()">
            <button class="btn btn--m btn--white btn--icon" lx-ripple="white" ng-click="cycle()">
                <i class="mdi mdi-calendar-clock"></i>
            </button>
        </lx-dropdown>
        <lx-dropdown position="right" from-top ng-if="isOnGroupList()" ng-click="groupCreate()">
            <button class="btn btn--m btn--white btn--raised" lx-ripple="black" ng-click="cycle()">
                <i class="mdi mdi-plus"></i>
            </button>
        </lx-dropdown>
    </nav>
</header>
