
<div class="main-section">
    <div class="main-section__content">

        <div class="toolbar">
            <div class="toolbar__left">
                <lx-search-filter closed theme="light" model="state.filters.groups.label"></lx-search-filter>
            </div>
            <div class="toolbar__right" style="float: right; position: absolute; right: 10px; ">
                <button class="btn btn--m btn--blue btn--flat" lx-ripple
                ng-click="actions.groups.create()">
                    New Bunch
                </button>
            </div>
        </div>

        <div ng-if="state.incompleteGroups.length > 0">
            <span class="fs-title display-block m+">Active Bunches</span>
            <div flex-container="row" flex-gutter="24" ng-repeat="group in state.incompleteGroups | filter:state.filters.groups.label">
                <div flex-item><a ng-href="{{ group.url }}">
                    <div class="card" style="position:relative">

                        <div class="card__img card__img--top">
                            <img src="https://s3.amazonaws.com/images.fineartamerica.com/images-medium-large-5/tractor-in-plowed-farm-field-elena-elisseeva.jpg">
                            <span class="fs-headline tc-white-1 display-block" style="text-shadow: 0px 2px 2px rgba(0,0,0,0.4);">{{ group.name }}</span>
                        </div>

                        <div class="p+" style="text-transform: none;">
                            <span style="text-decoration:none; width: 35px; border-radius: 0; display: inline-block; margin-right: 18px;" class="list-row__primary" ng-repeat="peer in group.peers.unpaid">
                                <img style="box-sizing: content-box; border:3px solid rgba(255,255,255,0.3); box-shadow: 0px 2px 2px rgba(0,0,0,0.2);" class="img-round" ng-src="{{ peer.image }}">
                            </span>
                            <span style="text-decoration:none; width: 35px; border-radius: 0; display: inline-block;  margin-right: 18px;" class="list-row__primary" ng-repeat="peer in group.peers.paid">
                                <img style="box-sizing: content-box; border:3px solid rgb(127, 207, 127); box-shadow: 0px 2px 2px rgba(0,0,0,0.2);" class="img-round" ng-src="{{ peer.image }}">
                            </span>
                        </div>


                        <div class="card__actions" style="text-shadow: 0px 2px 2px rgba(0,0,0,0.4); background: rgba(0,0,0,0.3); position: absolute; top: 0; left: 0; right: 0">
                            <button style="color:white" class="btn btn--m btn--black btn--flat" lx-ripple>$250 / Person</button>
                            <button style="float:right" class="btn btn--m btn--orange btn--flat" lx-ripple><span style="font-weight:600">$1000</span> <span style="opacity:0.9; margin-left: 3px;">Payout</span></button>
                        </div>
                    </div></a>
                </div>
            </div>
        </div>


        <div ng-if="state.completedGroups.length > 0">
            <span class="fs-title display-block m+ mt++">Funded Bunches</span>
            <div flex-container="row" flex-gutter="24" ng-repeat="group in state.completedGroups | filter:state.filters.groups.label">
                <div flex-item><a ng-href="{{ group.url }}">
                    <div class="card" style="position:relative">

                        <div class="card__img card__img--top">
                            <img src="https://s3.amazonaws.com/images.fineartamerica.com/images-medium-large-5/tractor-in-plowed-farm-field-elena-elisseeva.jpg">
                            <span class="fs-headline tc-white-1 display-block" style="text-shadow: 0px 2px 2px rgba(0,0,0,0.4);">{{ group.name }}</span>
                        </div>

                        <div class="p+" style="text-transform: none;">
                            <span style="text-decoration:none; width: 35px; border-radius: 0; display: inline-block; margin-right: 18px;" class="list-row__primary" ng-repeat="peer in group.peers.unpaid">
                                <img style="box-sizing: content-box; border:3px solid rgba(255,255,255,0.3); box-shadow: 0px 2px 2px rgba(0,0,0,0.2);" class="img-round" ng-src="{{ peer.image }}">
                            </span>
                            <span style="text-decoration:none; width: 35px; border-radius: 0; display: inline-block; margin-right: 18px;" class="list-row__primary" ng-repeat="peer in group.peers.paid">
                                <img style="box-sizing: content-box; border:3px solid rgb(127, 207, 127); box-shadow: 0px 2px 2px rgba(0,0,0,0.2);" class="img-round" ng-src="{{ peer.image }}">
                            </span>
                        </div>

                        <div class="card__actions" style="text-shadow: 0px 2px 2px rgba(0,0,0,0.4); background: rgba(0,0,0,0.3); position: absolute; top: 0; left: 0; right: 0">
                            <button style="color:white" class="btn btn--m btn--black btn--flat" lx-ripple>$250 / Person</button>
                            <button style="float:right" class="btn btn--m btn--orange btn--flat" lx-ripple><span style="font-weight:600">$1000</span> <span style="opacity:0.9; margin-left: 3px;">Payout</span></button>
                        </div>
                    </div></a>
                </div>
            </div>
        </div>


        <div class="card">
            <span class="fs-title display-block m+">Completed Bunches</span>
            <ul class="list">
                <li style="cursor:pointer;" class="list-row list-row--has-separator"
                    ng-repeat="group in state.incompleteGroups | filter:state.filters.groups.label"
                    ng-click="actions.groups.details(group)">
                    <div class="list-row__primary">
                        <img ng-src="{{ group.vendor[0].image }}" width="40" height="40" class="img-round">
                    </div>
                    <div class="list-row__content">
                        <span class="group-name">{{ group.name }}</span>
                        <span class="group-vendor">{{ group.vendor[0].name }}</span>
                    </div>
                    <div class="list-row__secondary" ng-if="group.peers.unpaid.length != 0">
                        <i class="icon icon--s icon--grey icon--flat mdi mdi-chevron-right"></i>
                    </div>
                    <div class="list-row__secondary" ng-if="group.peers.unpaid.length == 0">
                        <i class="icon icon--s icon--grey icon--flat mdi mdi-done"></i>
                    </div>
                </li>
            </ul>
        </div>


        <div class="card mt+">
            <span class="fs-title display-block m+">Completed Bunches</span>
            <ul class="list">
                <li style="cursor:pointer;" class="list-row list-row--has-separator"
                    ng-repeat="group in state.completedGroups"
                    ng-click="actions.groups.details(group)">
                    <div class="list-row__primary">
                        <img ng-src="{{ group.vendor[0].image }}" width="40" height="40" class="img-round">
                    </div>
                    <div class="list-row__content">
                        <span class="group-name">{{ group.name }}</span>
                        <span class="group-vendor">{{ group.vendor[0].name }}</span>
                    </div>
                    <div class="list-row__secondary" ng-if="group.peers.unpaid.length != 0">
                        <i class="icon icon--s icon--grey icon--flat mdi mdi-chevron-right"></i>
                    </div>
                    <div class="list-row__secondary" ng-if="group.peers.unpaid.length == 0">
                        <i class="icon icon--s icon--grey icon--flat mdi mdi-done"></i>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
